:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  /*--bg-primary: #F4F6F8;*/
  --bg-primary: #f3f4f5;
  --color-dark-transparentbg-01: rgba(11, 31, 53, 0.01);
  --color-dark-transparentbg-05: rgba(11, 31, 53, 0.05);
  --color-light-gray: #86868a;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html,
body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

/* SIDEBAR */
.sidebar-container > div {
  /*padding-left: 16px !important;*/
  padding-right: 0 !important;
  overflow: hidden;
  background-color: var(--bg-primary);
}
div.sidebar-header {
  display: flex;
  align-items: center;
  /*margin: 0 0 0 -20px !important;*/
}

div.sidebar-header img {
  max-height: 32px;
}

div.sidebar-header button {
  transform: scale(1.2);
}

div.sidebar-header button::before {
  border: 0;
  background-color: var(--brand-rubin);
}

.search-field.search-field {
  border-radius: 10px;
  color: var(--color-light-text-primary);
  margin: 24px 0 0 0;
}

.search-field svg:first-child {
  width: 14px;
  height: 14px;
  top: 11px;
  left: 12px;
}

.search-field svg:last-child {
  width: 20px;
  height: 20px;
  top: 8px;
  right: 11px;
  opacity: 0.5;
  transition: 0.2s;
}
.search-field svg:last-child:hover {
  opacity: 1;
}

.search-field code {
  width: 16px;
  height: 16px;
  top: 10px;
  right: 12px;
}

.search-field input {
  width: 100%;
  height: 36px;
  background-color: var(--color-dark-transparentbg-01);
  /*font-family: var(--font-family);*/
  padding: 0 38px 0 36px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 10px;
}

.search-field input:hover {
  background-color: var(--color-dark-transparentbg-05);
}

.search-field.search-field input:focus {
  background-color: #fff;
  border: 0;
  box-shadow: inset 0 0 0 2px var(--color-light-gray);
}

.search-field input::placeholder {
  /*color: var(--color-light-text-secondary);*/
  color: var(--color-light-gray);
}

/*.search-field code {*/
/*    !* иконка слэша *!*/
/*    display: none;*/
/*}*/

.search-result-item {
  border-radius: 6px;
}

.search-result-item[aria-selected='true'] {
  background: var(--color-dark-transparentbg-05);
}

.search-result-item--label mark {
  color: var(--brand-blue) !important;
}

.search-result-item svg {
  color: var(--color-light-gray);
  display: none;
}

.sidebar-header button:after {
  /* пипка у кнопки с тремя точками */
  display: none;
}

.sidebar-container .sidebar-subheading-action {
  /* кнопка раскрытия подпунктов */
  display: none;
}

.sidebar-container .sidebar-item svg:not(.sidebar-icon) {
  /* исходные иконки пунктов */
  display: none;
}

#storybook-explorer-tree > div {
  padding-left: 12px;
}

/*!* Главные пункты sidebar *!*/
div.sidebar-subheading {
  padding: 0 0 0 34px;
  margin-top: 22px;
  margin-bottom: 8px;
  color: var(--color-light-gray);
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.25px;
}

/*!* Главные заголовки разелов *!*/
div.sidebar-subheading > button {
  margin-left: -34px;
}

div.sidebar-subheading > button > span:first-of-type {
  border-radius: 1px;
  margin-right: 8px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 6px;
  border-left-color: #b6bcc3;
}

.sidebar-subheading .item-label {
  /*margin-left: 5px;*/
}

/*!* Заголовки папок *!*/
.sidebar-container .sidebar-item {
  position: relative;
  padding: 4px 0 4px 6px;
  color: var(--color-light-text-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: transparent !important;
  width: auto;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2px;
}

.sidebar-container .sidebar-item > a {
  font-size: 14px;
}

.sidebar-container button.sidebar-item {
  width: 100%;
  padding-left: 4px;
}

.sidebar-container .sidebar-item > span:first-child {
  margin-top: 0;
  margin-right: 8px;
  border-radius: 1px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 6px;
  border-left-color: #b6bcc3;
}

.sidebar-container .sidebar-item .item-label {
  display: flex;
  align-items: start;
  width: 100%;
}

.sidebar-container .sidebar-item .item-label > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-container .sidebar-item .sidebar-icon {
  color: #b6bcc3;
  flex-shrink: 0;
  margin: auto 6px auto 0;
}

#storybook-explorer-tree > div:first-child,
#storybook-explorer-menu ol[role='listbox'] {
  margin-right: 0;
}

.sidebar-item {
  border-radius: 6px;
}

.sidebar-container .sidebar-item:hover {
  color: var(--color-light-text-primary);
  background: var(--color-dark-transparentbg-05) !important;
}

.sidebar-container .sidebar-item[data-selected='true']:not([data-nodetype='group']) {
  font-weight: 500;
  color: var(--color-light-text-primary);
  background: var(--color-dark-transparentbg-05) !important;
}

.sidebar-container .sidebar-item[data-selected='true'] .sidebar-icon {
  color: var(--color-light-text-primary);
}

/* remove components from sidebar TODO: придумать другое решение */
[data-item-id='components-accordion--controlled'] {
  display: none !important;
}
[data-item-id='components-accordion--dynamic'] {
  display: none !important;
}
[data-item-id='components-badge--examples'] {
  display: none !important;
}
[data-item-id='components-breadcrumbs--example'] {
  display: none !important;
}
[data-item-id='components-button--primary'] {
  display: none !important;
}
[data-item-id='components-button--outline'] {
  display: none !important;
}
[data-item-id='components-button--ghost'] {
  display: none !important;
}
[data-item-id='components-button--link'] {
  display: none !important;
}
[data-item-id='components-checkbox--sizes'] {
  display: none !important;
}
[data-item-id='components-checkbox--hint'] {
  display: none !important;
}
[data-item-id='components-checkbox--intermediate'] {
  display: none !important;
}
[data-item-id='components-counter--controlled'] {
  display: none !important;
}
[data-item-id='components-drawer--custom'] {
  display: none !important;
}
[data-item-id='components-dropdown--examples'] {
  display: none !important;
}
[data-item-id='components-dropdown--placements'] {
  display: none !important;
}
[data-item-id='components-dropdown--context-menu'] {
  display: none !important;
}
[data-item-id='components-input--types'] {
  display: none !important;
}
[data-item-id='components-input--examples'] {
  display: none !important;
}
[data-item-id='components-input--tooltip'] {
  display: none !important;
}
[data-item-id='components-input--error'] {
  display: none !important;
}
[data-item-id='components-input--hint'] {
  display: none !important;
}
[data-item-id='components-input--addons'] {
  display: none !important;
}
[data-item-id='components-loader--not-filled'] {
  display: none !important;
}
[data-item-id='components-modal--example'] {
  display: none !important;
}
[data-item-id='components-radio--states'] {
  display: none !important;
}
[data-item-id='components-radiogroup--examples'] {
  display: none !important;
}
[data-item-id='components-select--controlled'] {
  display: none !important;
}
[data-item-id='components-select--multiple'] {
  display: none !important;
}
[data-item-id='components-select--states'] {
  display: none !important;
}
[data-item-id='components-textarea--controlled'] {
  display: none !important;
}
[data-item-id='components-tooltip--examples'] {
  display: none !important;
}

/* sandboxes */
[data-item-id='components-accordion--sandbox'] {
  display: none !important;
}
[data-item-id='components-attach--sandbox'] {
  display: none !important;
}
[data-item-id='components-badge--sandbox'] {
  display: none !important;
}
[data-item-id='components-breadcrumbs--sandbox'] {
  display: none !important;
}
[data-item-id='components-button--sandbox'] {
  display: none !important;
}
[data-item-id='components-checkbox--sandbox'] {
  display: none !important;
}
[data-item-id='components-counter--sandbox'] {
  display: none !important;
}
[data-item-id='components-divider--sandbox'] {
  display: none !important;
}
[data-item-id='components-drawer--sandbox'] {
  display: none !important;
}
[data-item-id='components-dropdown--sandbox'] {
  display: none !important;
}
[data-item-id='components-dropzone--sandbox'] {
  display: none !important;
}
[data-item-id='components-indicator--sandbox'] {
  display: none !important;
}
[data-item-id='components-input--sandbox'] {
  display: none !important;
}
[data-item-id='components-loader--sandbox'] {
  display: none !important;
}
[data-item-id='components-modal--sandbox'] {
  display: none !important;
}
[data-item-id='components-radiogroup--sandbox'] {
  display: none !important;
}
[data-item-id='components-radio--sandbox'] {
  display: none !important;
}
[data-item-id='components-select--sandbox'] {
  display: none !important;
}
[data-item-id='components-tag--sandbox'] {
  display: none !important;
}
[data-item-id='components-textarea--sandbox'] {
  display: none !important;
}
[data-item-id='components-tooltip--sandbox'] {
  display: none !important;
}
[data-item-id='components-typography--sandbox'] {
  display: none !important;
}
