:root {
  --bg-primary: #f4f6f8;
  --text-primary: #29313a;
  --bg-canvas: #f4f6f8;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  padding-left: calc(100vw - 100%);
}

.sb-show-main.sb-main-padded {
  padding: 0;
  background-color: var(--bg-primary);
}

#storybook-docs > .sbdocs-wrapper {
  padding: 48px 20px;
}

.docs-story {
  background-color: var(--bg-canvas);
  padding: 16px;
}
.docs-story > div:first-child {
  margin: 0;
  padding: 0 !important;
  overflow-y: hidden;
}

.innerZoomElementWrapper {
  border: 0;
}

/* FOR STORIES */
.darker .docs-story {
  background-color: #b8bec6 !important;
}

/* FOR ARGS TABLE */
table.docblock-argstable tbody.docblock-argstable-body {
  border-radius: 4px;
  filter: none;
  box-shadow: 0 0 1px #6d7986;
}

table.docblock-argstable tbody.docblock-argstable-body td {
  /*бэкграунд таблицы*/
  /*background: var(--bg-primary);*/
}

table.docblock-argstable.docblock-argstable {
  color: var(--color-light-text-primary);
}

/* баджи типов пропсов */
table.docblock-argstable tbody.docblock-argstable-body td div:only-child > span {
  color: #546272;
  border-color: #e7e9eb;
  background: #f3f4f5;
  white-space: pre-wrap;
  tab-size: 2;
}

table.docblock-argstable tbody.docblock-argstable-body td div:only-child > label {
  color: #546272;
  background: transparent !important;
}
