@import '../../variables/src/index.css';

:root {
  --accordion-divider-color: var(--bg-primary);
  --accordion-color_extra: #414141;

  --accrodion-bg: #fff;
  --accrodion-bg_disabled: var(--bg-info);
}

.root {
  color: var(--text-primary);
  font-family: var(--eub-font-family);
  background-color: var(--accrodion-bg);
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    box-shadow: -1px 3px 8px 0px rgba(67, 69, 72, 0.2);
  }

  &.disabled {
    background-color: var(--accrodion-bg_disabled);

    &:hover {
      box-shadow: none;
    }
  }
}

.header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  &.disabled {
    cursor: not-allowed;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}

.description {
  color: var(--text-tertiary);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}

.right {
  display: flex;
  gap: 8px;
  align-items: center;
}

.extra {
  color: var(--accordion-color_extra);
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
}

.chevroneIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  &.close {
    transform: rotate(180deg);
  }
}

.divider {
  width: 100%;
  background-color: var(--accordion-divider-color);
  transition: 0.3s ease;
  height: 1px;
  margin: 8px 0;
  opacity: 1;

  &.disabled {
    background-color: var(--accrodion-bg_disabled);
  }

  &.close {
    opacity: 0;
    height: 0;
    margin: 0 0;
  }
}

.content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  will-change: opacity, max-height;
  height: 100%;
  transition: 0.3s ease;
  overflow: hidden;
  opacity: 1;

  &.close {
    opacity: 0;
  }
}
