@import '../../variables/src/index.css';

:root {
  --dropdown-item-bg_default: #FFF;
  --dropdown-item-color_default: var(--text-primary);
  --dropdown-item-bg_hover: #FAFBFC;
  --dropdown-item-border_default: #EFF1F4;
}

.root {

}

.childWrapper {
  width: fit-content;
  height: fit-content;
  //border: 1px solid green;
}

.overlay {
}

.menu {
  font-family: var(--eub-font-family);
  //position: absolute;
  border-radius: 10px;
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background-color: #fff;
  padding: 8px;
  width: 100%;
  box-shadow: -1px 3px 8px 0px rgba(67, 69, 72, 0.20);
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.3px;
  font-family: inherit;
  background-color: var(--dropdown-item-bg_default);
  color: var(--dropdown-item-color_default);
  border-radius: 6px;
  user-select: none;
  height: fit-content;
  transition: color, background-color 0.2s;
  width: 100%;

  &:not(:last-child) {

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 16px);
      height: 1px;
      background-color: transparent;
    }
  }

  // ellipsis
  &.ellipsis {
    & > * {
      display: -webkit-box;
      max-width: calc(100% - 36px);
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &.wrap {
    & > * {
      white-space: pre-line;
    }
  }

  &.border:not(:last-child) {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 16px);
      height: 1px;
      background-color: var(--dropdown-item-border_default);
    }
  }

  &:hover {
    background-color: var(--dropdown-item-bg_hover);
  }

  &.disabled {
    pointer-events: none;
    color: var(--text-gray);
  }
}
