:root {
  /*  brand  */
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;

  /*  background  */
  --bg-primary: #f4f6f8; /*  - Основной цвет фона  */
  --bg-secondary: #fff; /*  - Доп. цвет для модальных окон и UI-элементов  */
  --bg-info: #e5e8ed; /*  - Цвет info block и не кликабельных элементов на сером фоне  */
  --bg-header: #21272e; /*  - Цвет шапки  */

  /*  typography-main  */
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;

  /*  typography-addons  */
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;

  /*  typography-links  */
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;

  /*  background  */
}
