.minus {
  cursor: pointer;
  transition: 0.15s;
  border-radius: 5px;
  color: #d44040;
  flex: 0 0 fit-content;

  &:hover {
    background-color: #e9d1d4;
  }

  &:active {
    color: #fff;
    background-color: #d44040;
  }

  &.disabled {
    color: #848d98;
    pointer-events: none;
  }
}
