@import '../../variables/src/index.css';

.root {
  font-family: var(--eub-font-family);
  color: var(--text-primary);
  margin: 16px auto;
  padding: 16px;


  &.topAdjuster {
    position: relative;
    top: 20%;
  }
}

// main parts
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  filter: alpha(opacity=50);
  backdrop-filter: blur(1px);
  z-index: 1050;
}
.wrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
.header {
  padding: 16px 16px 8px 16px;
  border-radius: 10px 10px 0 0;
  background: #FFF;

  &.closePadding {
    padding: 16px 42px 8px 16px;
  }
}
.body {
  font-size: 14px;
  padding: 0 16px 16px 16px;

  &.closePadding {
    padding: 38px 16px 16px 16px;
  }
}
.footer {
  font-size: 14px;
  padding: 0 16px 16px;
  text-align: right;
  border-radius: 0 0 10px 10px;
}
