._overlay_ytqi4_2 {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #fafbfc;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}
._visible_ytqi4_20 {
  opacity: 1;
}
._text_ytqi4_24 {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
}
:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
:root {
  --dropzone-active-bg: transparent;
  --dropzone-border-radius: 4px;
  --dropzone-border-color: var(--bg-header);
}
._root_1ao7l_8 {
  font-family: var(--eub-font-family);
  display: inline-block;
  position: relative;
  transition:
    border-color 0.2s ease,
    background-color 0.2s ease;
  overflow: hidden;
  border-radius: 4px;
  text-align: center;
}
._root_1ao7l_8:before {
  border: 5px dashed var(--dropzone-border-color);
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
}
._root_1ao7l_8._disabled_1ao7l_27 {
  cursor: not-allowed;
}
._root_1ao7l_8:not(._disabled_1ao7l_27):hover {
  background-color: var(--dropzone-active-bg);
}
._root_1ao7l_8._block_1ao7l_33 {
  width: 100%;
}
._root_1ao7l_8._dragOver_1ao7l_36 {
  background-color: var(--dropzone-active-bg);
}
._root_1ao7l_8._error_1ao7l_39 {
  border-color: var(--text-error-primary);
}
