._close_1vzuj_1 {
  border-radius: 50%;
  background-color: #eff1f4;
  padding: 3px;
  opacity: 0.6;
  transition: opacity 0.2s;
}
._close_1vzuj_1:hover {
  opacity: 1;
}
:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
._root_te5q8_2 {
  font-family: var(--eub-font-family);
  width: fit-content;
  color: var(--text-secondary);
  display: flex;
  gap: 10px;
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
._root_te5q8_2._loading_te5q8_14,
._root_te5q8_2._disabled_te5q8_14 {
  background-color: #e5e8ed;
}
._root_te5q8_2._disabled_te5q8_14 {
  cursor: not-allowed;
}
._root_te5q8_2._focus_te5q8_20 {
  outline-offset: 2px;
  outline: 2px solid var(--default-outline-color);
}
._label_te5q8_25 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  cursor: inherit;
  width: 0;
  height: 0;
}
._control_te5q8_36 {
  opacity: 0;
  cursor: inherit;
}
._control_te5q8_36::-webkit-file-upload-button {
  cursor: inherit;
}
._body_te5q8_44 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
._status_te5q8_51 {
  color: #469867;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
}
._title_te5q8_59 {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
  min-width: 120px;
}
._description_te5q8_68 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}
._ellipsis_te5q8_76 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
._right_te5q8_84 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 24px;
}
