._close_1s1w6_1 {
  border-radius: 50%;
  background-color: #eff1f4;
  padding: 3px;
}
._container_j2v88_1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
._container_j2v88_1._gray_j2v88_9 {
  background-color: #f4f6f8;
}
._header_j2v88_13 {
  padding: 16px 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
._title_j2v88_21 {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
._close_j2v88_27 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  background: transparent;
  border: 0;
  width: fit-content;
  outline: 0;
  cursor: pointer;
  text-rendering: auto;
  opacity: 0.4;
  transition: 0.2s;
}
._close_j2v88_27:focus,
._close_j2v88_27:hover {
  opacity: 1;
  text-decoration: none;
}
._body_j2v88_48 {
  flex: 1;
  min-width: 0;
  min-height: 0;
  padding: 16px;
  overflow: auto;
}
._footer_j2v88_56 {
  flex-shrink: 0;
  padding: 0 16px 16px;
}
:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
._root_1b78e_2 {
  font-family: var(--eub-font-family);
}
._mask_1b78e_6._blur_1b78e_6 {
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}
.eub-drawer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1050;
  pointer-events: none;
}
.eub-drawer-inline {
  position: absolute;
}
.eub-drawer-mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}
.eub-drawer-content-wrapper {
  position: absolute;
  z-index: 1050;
  overflow: hidden;
  transition: transform 0.3s;
}
.eub-drawer-content-wrapper-hidden {
  display: none;
}
.eub-drawer-left .eub-drawer-content-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
}
.eub-drawer-right .eub-drawer-content-wrapper {
  top: 0;
  right: 0;
  bottom: 0;
}
.eub-drawer-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #fff;
  pointer-events: auto;
}
.eub-drawer-mask-motion-enter-active,
.eub-drawer-mask-motion-appear-active,
.eub-drawer-mask-motion-leave-active {
  transition: all 0.2s;
}
.eub-drawer-mask-motion-enter,
.eub-drawer-mask-motion-appear {
  opacity: 0;
}
.eub-drawer-mask-motion-enter-active,
.eub-drawer-mask-motion-appear-active,
.eub-drawer-mask-motion-leave {
  opacity: 1;
}
.eub-drawer-mask-motion-leave-active {
  opacity: 0;
}
.eub-drawer-panel-motion-left-enter-start,
.eub-drawer-panel-motion-left-appear-start,
.eub-drawer-panel-motion-left-leave-start {
  transition: none !important;
}
.eub-drawer-panel-motion-left-enter-active,
.eub-drawer-panel-motion-left-appear-active,
.eub-drawer-panel-motion-left-leave-active {
  transition: all 0.3s;
}
.eub-drawer-panel-motion-left-enter,
.eub-drawer-panel-motion-left-appear {
  transform: translate(-100%);
}
.eub-drawer-panel-motion-left-enter-active,
.eub-drawer-panel-motion-left-appear-active,
.eub-drawer-panel-motion-left-leave {
  transform: translate(0);
}
.eub-drawer-panel-motion-left-leave-active {
  transform: translate(-100%) !important;
}
.eub-drawer-panel-motion-right-enter-start,
.eub-drawer-panel-motion-right-appear-start,
.eub-drawer-panel-motion-right-leave-start {
  transition: none !important;
}
.eub-drawer-panel-motion-right-enter-active,
.eub-drawer-panel-motion-right-appear-active,
.eub-drawer-panel-motion-right-leave-active {
  transition: all 0.2s;
}
.eub-drawer-panel-motion-right-enter,
.eub-drawer-panel-motion-right-appear {
  transform: translate(100%);
}
.eub-drawer-panel-motion-right-enter-active,
.eub-drawer-panel-motion-right-appear-active,
.eub-drawer-panel-motion-right-leave {
  transform: translate(0);
}
.eub-drawer-panel-motion-right-leave-active {
  transform: translate(100%) !important;
}
