:root {
  --default-outline-color: #2764cd;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
:root {
  --radio-default: #b8bec6;
  --radio-label-default: #29313a;
  --radio-hover: #1c2229;
  --radio-focused: #191d23;
  --radio-active: #29313a;
  --radio-disabled: #e5e8ed;
}
.savosya-radio_root__8kw4 {
  box-sizing: border-box;
  font-family: var(--eub-font-family);
  position: relative;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  color: var(--radio-default);
}
.savosya-radio_root__8kw4:hover {
  color: var(--radio-hover);
}
.savosya-radio_root__8kw4:active {
  color: var(--radio-focused);
}
.savosya-radio_root__8kw4.savosya-radio_checked__KOKS,
.savosya-radio_root__8kw4.savosya-radio_indeterminate__KCXQ {
  color: var(--radio-active);
}
.savosya-radio_root__8kw4.savosya-radio_disabled__y9Xx {
  color: var(--radio-disabled);
  cursor: not-allowed;
}
.savosya-radio_root__8kw4 input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  position: absolute;
  margin: 0;
  left: 4px;
}
.savosya-radio_box__BoTa {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.savosya-radio_box__BoTa.savosya-radio_s__Rg-m {
  width: 16px;
  height: 16px;
  border: 1.5px solid currentColor;
}
.savosya-radio_box__BoTa.savosya-radio_m__n6cI {
  width: 20px;
  height: 20px;
  border: 1.5px solid currentColor;
}
.savosya-radio_box__BoTa.savosya-radio_l__e56g {
  width: 24px;
  height: 24px;
  border: 1.8px solid currentColor;
}
.savosya-radio_box__BoTa:hover {
  color: var(--radio-hover);
}
.savosya-radio_box__BoTa.savosya-radio_checked__KOKS {
  color: #fff;
  background-color: var(--radio-active);
  border: 1.5px solid var(--radio-active);
}
.savosya-radio_box__BoTa.savosya-radio_disabled__y9Xx {
  color: var(--radio-disabled);
}
.savosya-radio_box__BoTa.savosya-radio_focus__9JcN {
  outline-offset: 2px;
  outline: 2px solid var(--default-outline-color);
}
.savosya-radio_indeterminateBox__5AQ4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--radio-active);
  border-radius: 50%;
}
.savosya-radio_indeterminateBox__5AQ4.savosya-radio_disabled__y9Xx {
  background-color: var(--radio-disabled);
}
.savosya-radio_indeterminateBox__5AQ4.savosya-radio_s__Rg-m {
  width: 8px;
  height: 8px;
}
.savosya-radio_indeterminateBox__5AQ4.savosya-radio_m__n6cI {
  width: 10px;
  height: 10px;
  border: 1.5px solid currentColor;
}
.savosya-radio_indeterminateBox__5AQ4.savosya-radio_l__e56g {
  width: 14px;
  height: 14px;
  border: 1.8px solid currentColor;
}
.savosya-radio_content__sLnB {
  display: inline-block;
  position: relative;
  color: var(--radio-label-default);
  -webkit-user-select: none;
  user-select: none;
}
.savosya-radio_content__sLnB.savosya-radio_disabled__y9Xx {
  color: var(--radio-disabled);
}
.savosya-radio_content__sLnB.savosya-radio_s__Rg-m {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.2px;
  padding-left: 26px;
}
.savosya-radio_content__sLnB.savosya-radio_m__n6cI,
.savosya-radio_content__sLnB.savosya-radio_l__e56g {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
}
._group_19rja_1 {
  display: flex;
  gap: 8px;
}
._group_19rja_1._vertical_19rja_5 {
  flex-direction: column;
}
