._root_g4442_2 {
  font-family: var(--eub-font-family);
  display: inline-block;
  font-weight: 400;
  color: var(--text-primary);
}
._root_g4442_2._h1_g4442_8 {
  font-size: 72px;
  line-height: 78px;
  letter-spacing: -2.5px;
}
._root_g4442_2._h2_g4442_13 {
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -2.3px;
}
._root_g4442_2._h3_g4442_18 {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -1.75px;
}
._root_g4442_2._h4_g4442_23 {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: -1px;
}
._root_g4442_2._h5_g4442_28 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.5px;
}
._root_g4442_2._h6_g4442_33 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.4px;
}
._root_g4442_2._div_g4442_38 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}
._root_g4442_2._shrink_g4442_43 {
  margin: 0;
  padding: 0;
}
._root_g4442_2._block_g4442_47 {
  display: block;
}
._root_g4442_2._medium_g4442_50 {
  font-weight: 500;
}
._root_g4442_2._bold_g4442_53 {
  font-weight: 700;
}
:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
._root_1pdc1_2 {
  font-family: var(--eub-font-family);
  display: inline-block;
  font-weight: 400;
  color: var(--text-primary);
}
._root_1pdc1_2._l1_1pdc1_8 {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.2px;
}
._root_1pdc1_2._l2_1pdc1_13 {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.2px;
}
._root_1pdc1_2._l3_1pdc1_18 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
}
._root_1pdc1_2._l4_1pdc1_23 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.3px;
}
._root_1pdc1_2._l5_1pdc1_28 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
}
._root_1pdc1_2._l6_1pdc1_33 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.3px;
}
._root_1pdc1_2._l7_1pdc1_38 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.3px;
}
._root_1pdc1_2._l8_1pdc1_43 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.5px;
}
._root_1pdc1_2._l9_1pdc1_48 {
  font-size: 26px;
  line-height: 42px;
  letter-spacing: -0.5px;
}
._root_1pdc1_2._l10_1pdc1_53 {
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.5px;
}
._root_1pdc1_2._l11_1pdc1_58 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.5px;
}
._root_1pdc1_2._shrink_1pdc1_63 {
  margin: 0;
  padding: 0;
}
._root_1pdc1_2._block_1pdc1_67 {
  display: block;
}
._root_1pdc1_2._medium_1pdc1_70 {
  font-weight: 500;
}
._root_1pdc1_2._bold_1pdc1_73 {
  font-weight: 700;
}
