._close_1s1w6_1 {
  border-radius: 50%;
  background-color: #eff1f4;
  padding: 3px;
}
:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
._root_102b7_2 {
  font-family: var(--eub-font-family);
  color: var(--text-primary);
  margin: 16px auto;
  padding: 16px;
}
._root_102b7_2._topAdjuster_102b7_8 {
  position: relative;
  top: 20%;
}
._backdrop_102b7_13 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: #37373799;
  height: 100%;
  filter: alpha(opacity=50);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: 1050;
}
._wrapper_102b7_27 {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
._wrapper_102b7_27._top_102b7_8 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
._wrapper_102b7_27._center_102b7_43 {
  display: flex;
  justify-content: center;
  align-items: center;
}
._wrapper_102b7_27._bottom_102b7_48 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
._header_102b7_54 {
  padding: 16px 16px 8px;
  border-radius: 10px 10px 0 0;
  background: #fff;
}
._header_102b7_54._closePadding_102b7_59 {
  padding: 16px 42px 8px 16px;
}
._header_102b7_54._gray_102b7_62 {
  background-color: #f4f6f8;
}
._body_102b7_66 {
  font-size: 14px;
  padding: 0 16px 16px;
}
._body_102b7_66._closePadding_102b7_59 {
  padding: 38px 16px 16px;
}
._body_102b7_66._gray_102b7_62 {
  background-color: #f4f6f8;
}
._footer_102b7_77 {
  font-size: 14px;
  padding: 0 16px 16px;
  text-align: right;
  border-radius: 0 0 10px 10px;
}
._footer_102b7_77._gray_102b7_62 {
  background-color: #f4f6f8;
}
.eub-modal {
  box-sizing: border-box;
  position: relative;
  width: min(100%, 768px);
}
.eub-modal-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.eub-modal-content {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  background-clip: padding-box;
}
.eub-modal-close {
  cursor: pointer;
  border: 0;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  right: 16px;
  top: 16px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
  text-decoration: none;
  transition: 0.22s;
}
.eub-modal-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}
.eub-modal-mask-hidden {
  display: none;
}
.eub-modal-zoom-enter,
.eub-modal-zoom-appear {
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}
.eub-modal-zoom-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}
.eub-modal-zoom-enter.eub-modal-zoom-enter-active,
.eub-modal-zoom-appear.eub-modal-zoom-appear-active {
  animation-name: rcDialogZoomIn;
  animation-play-state: running;
}
.eub-modal-zoom-leave.eub-modal-zoom-leave-active {
  animation-name: rcDialogZoomOut;
  animation-play-state: running;
}
@keyframes rcDialogZoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rcDialogZoomOut {
  0% {
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}
@media (min-width: 768px) {
  .eub-modal {
    width: 600px;
    margin: 30px auto;
  }
}
.eub-modal-fade-enter,
.eub-modal-fade-appear {
  opacity: 0;
  animation-duration: 0.18s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.eub-modal-fade-leave {
  animation-duration: 0.18s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.eub-modal-fade-enter.eub-modal-fade-enter-active,
.eub-modal-fade-appear.eub-modal-fade-appear-active {
  animation-name: rcDialogFadeIn;
  animation-play-state: running;
}
.eub-modal-fade-leave.eub-modal-fade-leave-active {
  animation-name: rcDialogFadeOut;
  animation-play-state: running;
}
@keyframes rcDialogFadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rcDialogFadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
