:root {
  --brand-rubin: #e1056d;
  --brand-blue: #1d3f88;
  --brand-gray: #8b8b8c;
  --brand-black: #000;
  --bg-primary: #f4f6f8;
  --bg-secondary: #fff;
  --bg-info: #e5e8ed;
  --bg-header: #21272e;
  --text-primary: #29313a;
  --text-secondary: #67707c;
  --text-tertiary: #848d98;
  --text-placeholder: #848d98;
  --text-white: #fff;
  --text-gray: #b8bec6;
  --text-error-primary: #d44040;
  --text-error-secondary: #f96262;
  --text-attention: #eda147;
  --text-success-primary: #50a33b;
  --text-link-default: #4693c8;
  --text-link-hover: #6b9cd3;
  --text-link-pressed: #90b5de;
  --text-link-visited: #3869a0;
  --text-link-default-alternative: #677007C;
  --text-link-hover-alternative: #525a63;
}
:root {
  --default-outline-color: #2764cd;
}
:root {
  --border-radius-s: 10px;
  --border-radius-m: 16px;
}
:root {
  --eub-font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}
:root {
  --indicator_number-color-bg: var(--text-primary);
}
._root_13m5i_6 {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--eub-font-family);
  color: #fff;
  background-color: var(--indicator_number-color-bg);
  border-radius: 20px;
}
._root_13m5i_6._s_13m5i_16 {
  min-width: 13px;
  height: 13px;
  padding: 1px 3px;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: -0.2px;
  text-align: center;
}
._root_13m5i_6._m_13m5i_26 {
  min-width: 18px;
  height: 18px;
  padding: 4px 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: -0.2px;
}
._root_13m5i_6._l_13m5i_35 {
  min-width: 22px;
  height: 22px;
  padding: 5px 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: -0.2px;
}
._root_13m5i_6._empty_13m5i_44 {
  padding: 0;
  min-width: 0;
  width: 8px;
  height: 8px;
}
